{% extends "base.html.jinja" %}
{% block content %}
{% include "partials/nav-project.html.jinja"%}
<div class="container-md">
    <div class="row">
        <h1>{{ title }}</h1>
    </div>
    {% include "tools/sort-button.html.jinja"%}
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th width="10%" scope="col"></th>
                    <th width="20%" scope="col">Date</th>
                    <th scope="col">Program</th>
                    <th width="25%" scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
            {% set list_to_check = tasks %}
            {% include "tools/table-not-available.html.jinja"%}
                {% for task in tasks %}
                <tr>
                    <th scope="row">{{ task.type }}</th>
                    <td>{{ task.start_date_time | format_datetime('datetime') }}{% if task.end_date_time%} - {{
                        task.end_date_time | format_datetime('time') }}{% endif %}</td>
                    {% if task.name %}
                    <td>{{ task.name }}</td>
                    {% else%}
                    <td></td>
                    {% endif %}
                    {% if task.location %}
                    <td>{{ task.location.name }}</td>
                    {% else%}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tr>
            </tbody>
        </table>

    </div>
</div>
{% endblock content %}